@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url('bgf1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 3%;
    background-color: black;
    z-index: 1000; 
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    background-color: black;
    
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: black;
}

.nav_links li a:hover {
    color: red;
}

.logo {
    position: absolute;
    left: 30px;
    height: 150px;
    width: 150px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: red;
    color: white;
}

.gallery-section {
    margin: 80px 0 20px;
}

.gallery-section h2 {
    text-align: center;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    position: relative;
    margin: 10px;
    overflow: hidden;
}

.gallery-item a {
    text-decoration: none; /* Remove underline for anchor tags */
    color: white; /* Set anchor text color */
}

.gallery-item img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
